<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>71</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
</charset>
